@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$selectBarHeight: 40px;

html, body {
	width: 100%;
	height: 100%;
	margin:0 auto;
	padding: 0px;
	overflow: hidden;
	background-color: #ddd;
	font-family: 'Roboto', sans-serif;
}

.bold {
	font-weight: bold;
}

.visualWrapper{
	display: grid;
	width: 100%;
	height: 100%;
	top: 0px;
	position: absolute;
	grid-template-columns: $selectBarHeight calc(100% - #{$selectBarHeight});
	grid-template-rows: $selectBarHeight calc(100% - #{$selectBarHeight} * 2) $selectBarHeight;
	grid-template-areas: 
		". header"
	  "yAxis svg"
	  ". xAxis";
}

.svgHolder {
	grid-area: svg;

	svg {
		width:100%;
		height: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
	}

	svg circle {
		cursor: pointer;
	}
}

.xSelect {
	grid-area: xAxis;
	text-align: center;
}

.ySelect {
	grid-area: yAxis;
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;

	.ySelectWrapper {
		top: 50%;
		transform: translateY(-50%);
    	position: absolute;
	}

	select {
		 -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  		left: $selectBarHeight;
  		position: absolute;
	}
}

.dropdownHolder {
	grid-area: header;
}

.hidden {
	display: none;
}

#blocker{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	left: 0px;

	.popup {
		position: relative;
	    padding: 10px 20px;
    	box-sizing: border-box;
		width: 80%;
		height: 80%;
		background-color: #fff;
		margin: 0 auto;
		margin-top: 5%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 0.5fr 1fr 10fr 0.5fr;
		grid-template-areas: 
			"popupHeader"
			"keyInfo"
			"statementHeader"
			"statements"
			"footer";

		h1, h2, h3, h4, h5, h6 {
			margin: 0px;
			padding: 0.5em 0em;
		}

		.header {
			grid-area: popupHeader;
		}

		.keyInfo {
			grid-area: keyInfo;
			h4 span:not(.bold){
				font-weight: normal;
			}

			h4 .bold:not(:first-child){
				margin-left: 20px;
			}
		}

		.statementHeader {
			grid-area: statementHeader;
		}

		.statements {
			grid-area: statements;
		    overflow: scroll;
		    position: relative;
		    height: 100%;
		}


		.all_statements {
			overflow: scroll;
		}

		.card {
			border-bottom: 1px solid #ddd;

			h6:not(.bold){
				font-weight: normal;
			}

			.bold {
				font-weight: bold;
				&:not(:first-child){
					margin-left: 20px;
				}
			}
		}

		.footer {
			grid-area: footer;

			a {
				text-decoration: none;
				font-size: 1.2em;
			}
		}

		.closer {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
}